@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

body {
  background: #f8fafc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark body {
  background: #0f172a;
}
